.list-card {
    border: 2px solid rgb(221, 205, 238);
    border-radius: 5PX;
    margin: 20px;
    padding: 10px;
    height: 150px;
    width: 200px;
     text-align: center;
    /* background-color: rgb(207, 225, 240); */
    background-color: #e4d2f3;
   

}

.card-name {
    margin-top: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}
.card-jobs{
 color:#A3A3A3;
}